.container {
    width: 950px;
    position: relative;
    margin-left: 200px;
}

.cover {
    width: 100%;
    height: 316px;
    border-radius: 10px;
}

.container .camera {
    position: absolute;
    width: 167px;
    height: 36px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 6px;
    right: 20px;
    bottom: 20px;
    color: black;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.camera2 {
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: rgb(228, 230, 235);
    box-sizing: border-box;
    border-radius: 50%;
    color: black;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    bottom: -5px;
    left: 520px;
}

.camera2:hover {
    background-color: rgb(247, 245, 245);
}

.camera:hover {
    background-color: rgb(199, 196, 196);
}

.container .avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    border: white 5px solid;
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

.name {
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 38px;
}